<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.admin.repository.AdminRepository">

    <sql id="fullColumn">
        adminId,
        adminPw,
        adminName,
        adminTel
    </sql>

    <select id="findById" resultType="com.bigmoim.module.admin.entity.AdminEntity">
        SELECT <include refid="fullColumn"/>
        FROM `admin`
        WHERE adminId = #{adminId}
    </select>

    <insert id="insert">
        INSERT INTO `USER` (
            adminId,
            adminPw,
            adminName,
            adminTel
        )
        VALUES (
                   #{adminId},
                   #{adminPw},
                   #{adminName},
                   #{adminTel}
               )
    </insert>

</mapper>