<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.boardcomment.repository.BoardCommentRepository">

    <sql id="boardComment_fullColumn">
        bcNum,
        bcContent,
        memberId,
        bcDate,
        mbNum
    </sql>

    <select id="bcList" parameterType="int" resultType="com.bigmoim.module.boardcomment.entity.BoardCommentEntity">
        SELECT <include refid="boardComment_fullColumn"/>
        FROM `boardComment`
        WHERE mbNum = #{mbNum}
    </select>

    <insert id="bcInsert" parameterType="com.bigmoim.module.boardcomment.entity.BoardCommentEntity" >
        INSERT INTO `boardComment` (
            bcContent,
            memberId,
            bcDate,
            mbNum
        )
        VALUES (
                   #{bcContent},
                   #{memberId},
                   #{bcDate},
                   #{mbNum}
               )
    </insert>
    
    <delete id="bcDelete" >
        DELETE
        FROM `boardComment`
        WHERE bcNum = #{bcNum}
    </delete>

    <update id="bcUpdate">
        UPDATE `boardComment`
        SET bcContent = #{bcContent}
        WHERE bcNum = #{bcNum}
    </update>
</mapper>