<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.admin.repository.MemberBoardRepository">

    <sql id="fullColumn">
        mbNum,
        mbTitle,
        mbContent,
        mbDate,
        memberId,
        mbImg,
        moimNum,
        boardType
    </sql>

    <select id="boardList" parameterType="int" resultType="com.bigmoim.module.admin.entity.MemberBoardEntity">
        SELECT <include refid="fullColumn"/>
        FROM `memberBoard`
        WHERE moimNum = #{moimNum}
    </select>

    <insert id="boardInsert" parameterType="HttpServletRequest request" >
        INSERT INTO `memberBoard` (
            mbTitle,
            mbContent,
            mbDate,
            memberId,
            mbImg,
            moimNum
        )
        VALUES (

                   #{mbTitle},
                   #{mbContent},
                   NOW(),
                   #{memberId},
                   #{mbImg},
                   #{moimNum}
               )
    </insert>
    
    <delete id="boardDelete" parameterType="int, String" >
        DELETE `memberBoard`
        WHERE	mbNum = #{mbNum}
        AND memberId = #{memberId}
    </delete>

    <update id="boardUpdate" parameterType="HttpServletRequest request">
        UPDATE `memberBoard`
        SET mbTitle = #{mbTitle},
            mbContent = #{mbContent},
            mbDate = NOW(),
            moimNum = #{moimNum}
        WHERE mbNum = #{mbNum}
    </update>
</mapper>