<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.classcomment.repository.ClassCommentRepository">

    <sql id="cc_fullColumn">
        ccNum,
        ccComment,
        memberId,
        moimNum,
        ccDate
    </sql>

    <insert id="ccInsert" parameterType="com.bigmoim.module.classcomment.entity.ClassCommentEntity">
        INSERT INTO classComment (
            ccComment,
            memberId,
            moimNum,
            ccDate
        )
        VALUES (

                   #{ccComment},
                   #{memberId},
                   #{moimNum},
                   #{ccDate}
               )
    </insert>

    <update id="ccUpdate" >
        UPDATE classComment
        SET classComment = #{classComment}
        WHERE ccNum = #{ccNum}
    </update>

    <delete id="ccDelete" >
        DELETE
        FROM classComment
        WHERE ccNum = #{ccNum}
    </delete>

    <select id="ccList"  resultType="com.bigmoim.module.classcomment.entity.ClassCommentEntity">
        SELECT <include refid="cc_fullColumn"/>
        FROM classComment
        WHERE moimNum = #{moimNum}
    </select>

    <select id="getCcNum">
        SELECT ccNum
        FROM classComment
        WHERE memberId = #{memberId}
        AND moimNum = #{moimNum}
        AND ccComment = #{ccComment}
    </select>

    <select id="findByMemberId">
        select <include refid="cc_fullColumn"/>
        FROM classComment
        WHERE ccNum = #{ccNum}
    </select>
</mapper>