<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.moimshcedule.repository.MoimScheduleRepository">

    <sql id="moimschedule_fullColumn">
        msNUm,
        msTime,
        msArea,
        moimNum,
        msHCount,
        memberId,
        msNCount,
        msTitle,
        msContent,
        msDate,
        moimImg,
    </sql>
    <!-- 모임별 가입 신청 리스트-->
    <select id="allmoimschedule" resultType="com.bigmoim.module.moimshcedule.entity.MoimScheduleEntity">
        SELECT <include refid="fullColumn"/>
        FROM `moimschedule`
    </select>
    <!-- 모임 가입 수락 업데이트-->
    <update id="mjAccept">
        UPDATE moimjoin
        SET mjCheck = 1
        WHERE memberId = #{memberId} and  = moimNum = #{moimNum}
    </update>
    <!-- 모임 가입 거절-->
    <delete id="mjDelete">
        DELETE
        FROM moimjoin
        WHERE memberId = #{memberId} and moimNum = #{moimNum}
    </delete>

    <insert id="msInsert">
        INSERT INTO `moimschedule` (
            msTime,
            msArea,
            moimNum,
            msHCount,
            memberId,
            msNCount,
            msTitle,
            msContent,
            msDate,
            moimImg,
        )
        VALUES (
                   #{msTime},
                   #{msArea},
                   #{moimNum},
                   #{msHCount}
                   #{memberId},
                   #{msTitle},
                   #{msContent},
                   #{msDate}
               )
    </insert>

</mapper>