<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.moimshcedule.repository.MoimScheduleRepository">

    <sql id="moimschedule_fullColumn">
        msNum,
        msTime,
        msArea,
        moimNum,
        msHCount,
        memberId,
        msNCount,
        msTitle,
        msContent,
        msDate
    </sql>
    <!-- 모든 모임일정 리스트-->
    <select id="allMoimSchedule" resultType="com.bigmoim.module.moimshcedule.entity.MoimScheduleEntity">
        SELECT <include refid="moimschedule_fullColumn"/>
        FROM `moimschedule`
    </select>
    <!-- 모임별 일정 리스트-->
    <select id="moimSchedule" resultType="com.bigmoim.module.moimshcedule.entity.MoimScheduleEntity">
        SELECT <include refid="moimschedule_fullColumn"/>
        FROM `moimschedule`
        WHERE moimNum = #{moimNum}
    </select>

    <insert id="msInsert">
        INSERT INTO `moimschedule` (
            msTime,
            msArea,
            moimNum,
            msHCount,
            memberId,
            msNCount,
            msTitle,
            msContent,
            msDate
        )
        VALUES (
                   #{msTime},
                   #{msArea},
                   #{moimNum},
                   #{msHCount}
                   #{memberId},
                   #{msTitle},
                   #{msContent},
                   #{msDate}
               )
    </insert>

</mapper>