<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.moimphotos.repository.MoimPhotosRepository">

    <sql id="moimphotos_fullColumn">
        photoNum,
        photoName,
        moimNum,
        photo,
        upDate,
        memberId
    </sql>
    <!-- 모임 사진 리스트-->
    <select id="photoList" resultType="com.bigmoim.module.moimphotos.entity.MoimPhotosEntity">
        SELECT <include refid="moimphotos_fullColumn"/>
        FROM `moimphotos`
        WHERE moimNum = #{moimNum}
    </select>
    <!--모임 사진 상세-->
    <select id="photoDetail" resultType="com.bigmoim.module.moimphotos.entity.MoimPhotosEntity">
        SELECT <include refid="moimphotos_fullColumn"/>
        FROM `moimphotos`
        WHERE photoNum = #{photoNum}
    </select>
    <!-- 모임 사진 업데이트-->
    <update id="photoUpdate">
        UPDATE moimphotos
        SET photo = #{photo}, update = #{update}, photoName=#{photoName}
        WHERE photoNum = #{photoNum}
    </update>
    <!-- 모임 사진 삭제-->
    <delete id="photoDelete">
        DELETE
        FROM moimphotos
        WHERE photoNum = #{photoNum} and memberId = #{memberId}
    </delete>

    <insert id="photoAdd">
        INSERT INTO `moimphotos` (
            photoName,
            moimNum,
            photo,
            upDate,
            memberId
        )
        VALUES (
                   #{photoName},
                   #{moimNum},
                   #{photo},
                   #{upDate}
                   #{memberId}
               )
    </insert>

</mapper>