<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.member.repository.RoleRepository">

    <sql id="role_fullColumn">
        roleIdx,
        memberId,
        role,
        moimNum,
        createDate
    </sql>

    <!-- 멤버의 role 리스트 -->
    <select id="findById" resultType="com.bigmoim.module.member.entity.RoleEntity">
        SELECT <include refid="role_fullColumn"/>
        FROM role
        WHERE memberId = #{memberId}
    </select>

    <!-- 멤버의 role 리스트 -->
    <select id="moimMember" resultType="com.bigmoim.module.member.entity.RoleEntity">
        SELECT <include refid="role_fullColumn"/>
        FROM role
        WHERE moimNum = #{moimNum}
    </select>

    <!-- Role별 리스트 -->
    <select id="findByRole" resultType="com.bigmoim.module.member.entity.RoleEntity">
        SELECT <include refid="role_fullColumn"/>
        FROM role
        WHERE role = #{role}
    </select>

    <!--회원의 모든 역할 삭제-->
    <delete id="roleDeleteAll">
        DELETE
        FROM role
        WHERE memberId = #{memberId}
    </delete>

    <!--회원의 특정 역할 삭제-->
    <delete id="roleDelete">
        DELETE
        FROM role
        WHERE memberId = #{memberId} and role = #{role}
    </delete>

    <!--역할 추가-->
    <insert id="roleInsert" parameterType="com.bigmoim.module.member.entity.RoleEntity">
        INSERT INTO `role` (
            memberId,
            role,
            createDate
        )
        VALUES (
                   #{memberId},
                   #{role},
                   #{createDate}
               )
    </insert>

</mapper>