<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.admin.repository.ScheduleJoinRepository">

    <sql id="moimMember_fullColumn">
        mmNum,
        memberId,
        moimNum
    </sql>
    
    <sql id="scheduleJoin_fullColumn">
        sjNum,
        msNum,
        memberId,
        moimNum
    </sql>

    <sql id="moimSchedule_fullColumn">
        msNum,
        msTime,
            msArea,
            moimNum,
            msHCount,
            memberId,
            msNCount,
            msTitle,
            msContent,
            msDate
    </sql>

    <!--모든 모임일정 가져오기-->
    <select id="allmoimScheduleList" resultType="com.bigmoim.module.admin.entity.MoimScheduleEntity">
        SELECT <include refid="moimSchedule_fullColumn"/>, m2.moimImg
        FROM moimSchedule m, moim m2
        WHERE m.moimNum = m2.moimNum AND
            datediff(msDate.now()) >= 0
        order by m.msDate
    </select>

    <!--모임스케줄에서 참여한 멤버 이름, 프로필, 사진 가져오기-->
    <select id="moimScheduleImg" parameterType="int" resultType="com.bigmoim.module.admin.entity.TaskEntity">
        SELECT member.memberImg, member.memberName, member.memberProfile, member.memberId
        FROM `member` inner join schedulejoin on memberId=schedulejoin.memberId
        WHERE schedulejoin.moimNum = #{moimNum}
    </select>

    <!--모임스케줄 가져오기-->
    <select id="moimScheduleList" resultType="com.bigmoim.module.admin.entity.MoimScheduleEntity">
        SELECT  <include refid="moimSchedule_fullColumn"/>
        FROM  moimschedule
        WHERE datediff(msDate,now()) >= 0 AND moimNum = #{moimNum} order by msDate asc
    </select>

    <!--모임일정에서 일, 월, 요일 가져오기-->
   <select id="moimScheduleDayList" parameterType="int" resultType="com.bigmoim.module.admin.entity.MemberEntity">
       SELECT EXTRACT(day FROM moimschedule.msDate) AS moimScheduleDay
       FROM moimschedule
       WHERE moimNum = ?
       order by moimScheduleDay asc
   </select>

    <select id="moimScheduleMon" parameterType="int" resultType="String">
        SELECT EXTRACT(month FROM msDate)as mon
        FROM moimschedule
        WHERE moimnum = #{moimnum}
    </select>

    <select id="moimScheduleDayName" parameterType="int" resultType="String">
        SELECT CASE DAYOFWEEK(msDate) WHEN 1 THEN '일요일' WHEN 2 THEN '월요일' WHEN 3 THEN '화요일'
        WHEN 4 THEN '수요일' WHEN 5 THEN '목요일' WHEN 6 THEN '금요일' WHEN 7 THEN '토요일' END AS day_name
        FROM moimschedule
        WHERE moimNum = #{moimNum}
    </select>

    <!--모임스케줄에서 참여한 멤버 이름, 프로필, 사진 가져오기-->
    <select id="moimScheduleMember" parameterType="int" resultType="com.bigmoim.module.admin.entity.MemberEntity">
        SELECT member.memberImg, member.memberName, member.memberProfile, member.memberId
        FROM member INNER JOIN schedulejoin ON member.memberId = schedulejoin.memberId
        WHERE schedulejoin.msNum = #{msNum}
    </select>

    <!--모임에서 가입한 전체 멤버 이름, 소개, 프로필사진 가져오기-->
    <select id="moimScheduleAllMember" parameterType="int" resultType="com.bigmoim.module.admin.entity.MemberEntity">
        SELECT m.memberImg , m.memberName , m.memberProfile, m.memberId
        FROM member m INNER JOIN moimmember m2 ON m.memberId = m2.memberId
        WHERE m2.moimNum = #{moimNum}
    </select>

    <!--같은 모임에서 다른 스케줄일때 구별해서 가져오기-->
    <select id="scheduleJoinMsvList" parameterType="int">
        SELECT <include refid="scheduleJoin_fullColumn"/>
        WHERE msNum = #{msNum}
    </select>

    <!--모임회장의 이름, 자기소개, 이미지 가져오기-->
    <select id="moimManager" parameterType="int" resultType="com.bigmoim.module.admin.entity.MemberEntity">
        SELECT member.memberImg, member.memberProfile , member.memberName, member.memberId
        FROM member INNER JOIN moim ON member.memberId = moim.memberId
        WHERE moim.moimNum = #{moimNum}
    </select>

    <!--일정 참여하기(가입한 멤버인지 확인)-->
    <select id="scjoinChk" parameterType="int, String">
        SELECT count(<include refid="moimMember_fullColumn"/>)
        FROM moimmember
        WHERE moimNum = #{moimNum} AND memberId = #{memberId}
    </select>

    <!--일정 참여하기-->
    <insert id="scJoin" parameterType="int, String, int">
        INSERT INTO schedulejoin(
            msNum,
            memberId,
            moimNum
        )
        VALUES(
               #{msNum},
               #{memberId},
               #{moimNum}
              )
    </insert>

    <!--모임 가입 여부-->
    <select id="moimMemberCheck" parameterType="int, String" resultType="boolean">
        SELECT count(moimNum)
        FROM moimmember
        WHERE moimNum = #{moimNum} and memberId = #{memberId}
    </select>
</mapper>