<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bigmoim.module.theme.repository.ThemeRepository">

    <sql id="theme_fullColumn">
        themeNum,
        themeName
    </sql>

    <select id="themeList" resultType="com.bigmoim.module.theme.entity.ThemeEntity">
        SELECT <include refid="theme_fullColumn"/>
        FROM theme
    </select>




</mapper>